body, pre, #input { font-family: Courier, "Courier New", monospace, serif; }

body { font-size: 12px; }

h1 { font-weight: normal; font-size: 12px; margin-bottom: 5px; }

sub { font-size: 10; }

pre {
    display: inline;
    font-size: 12px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover { background: #def4f7; }

:focus { outline: 0; }

.value { color: #a2a2a2; }

.error { color: red; }

.warning { color: #cca45e; }

.continue { color: #7b7b7b; }

.title { color: navy; }

.intro p {
    margin: 5px 0 5px 0;
    font-size: 12px;
}

#input {
    border: 0;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 90%;
}

#prefix { float:left; }


.block {
    display: block;
    margin: 5px 0 5px 0;
}

.help {
    background: #f8f8f8;
    font-size: 12px;
    margin: 3px;
}

.help, .intro { width: 38em; }

.help h1, .help h2 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5pxm;
}

.help h2 { color: #4f4f4f; }

.help p { margin: 0 0 5px 0; }

.help h1 span { float: left; }

a.helpMin {
    color: gray;
    float: right;
    font-size: 11px;
    font-weight: normal;
}

a.helpMin:hover { background: #f9f9f9; }

.help strong, .help a { white-space: nowrap; }

.helpBody { clear: both; padding-top: 5px; }

.syntax {
    color: #4f4f4f;
    font-size: 12px;
}

.builtinList ul {
    float: left;
    margin: 5px 5px 5px 10px;
    padding-left: 15px;
}



